# Recommendation

* Last updated 20191126TUE1107

## S.1 학습내용

### S.1.1 목표

* 내용기반 추천, 협업 추천을 프로그래밍으로 구현
* matrix factorization

### S.1.2 목차

* S.2 문제의 이해
* S.3 추천이란
* S.4 collaborative filtering 방법
* S.4.1 Neighborhood Methods
* S.4.2 Latent Factor Methods
* S.5 Utility Matrix
* S.6 유사도
* S.6.1 Eculdean distance
* S.6.2 Manhatan distance
* S.6.3 L-form
* S.6.4 cosine 유사도
* S.6.5 similarity
* S.7 영화평가
* S.8 인지도 기반 추천
* S.9 matrix factorization
* S.10 SVD
* 문제 S-5: ALS 알고리즘으로 영화 추천

## S.2 문제의 이해

영화, 상품, 음악, 책, 상품 등 온라인으로 판매를 한다고 하자.
고객의 **리뷰** 또는 **평점**이 매겨지고 있고, 이러한 평점이 구매에 영향을 미칠 수 있다.
고객에 대해 상품을 추천할 수 있다면 유용할 것이다.
일반적인 **인기도**에 따른 추천보다는 **개인의 특성에 맞는** 개인의 특성에 맞는 상품이나 콘텐츠를 추천하는 것이 더욱 효과적이겠다.

## S.3 추천이란

### 인기도 기반
많은 사람들이 선호하는 상품을 추천하는 것이다. 
예를 들어 영화를 추천할 경우, 많이 본 영화 또는 평점이 높은 영화를 추천하는 것이다.
자신이 속한 연령대, 성별로 구분하여 인기 순위가 높은 영화를 추천하면 **세분화**되겠지만, **개인의 특성이 속한 그룹과 동일하다고 보기는 어렵다**.

### 상품기반
**내용기반 추천 Content Filtering**은 상품간에 유사도를 계산하여 추천을 하는 것이다.
영화의 예를 들면, 장르, 출연배우, 인기도 등에 따라 서로 유사한 영화를 선정하여 추천한다.

### 사용자 기반
**협업 추천 Collaborative Filtering**은 사용자와 상품 간 상호관련성에 따라 추천을 하게 된다.
사용자 A가 노래 P, Q, R을 좋아한다고 하자. 사용자 B도 영화 P, Q를 좋아한다고 하자. 그러면 사용자 A와 B는 서로 취향이 유사하고, 아직 관람하지 않은 영화 R을 추천하게 되는 것이다.

## S.4 협업 추천 방법

### S.4.1 Neighborhood Methods

이 협업 추천 collaborative filtering 방법은 사용자의 상품 선호도에 대한 유사도가 서로 비슷한 사용자를 찾아서 추천한다.

단계:
* 유사도가 높은 사용자, **이웃 neighbors**를 식별
* 그 neighbors가 좋아하는 상품을 추천

### S.4.2 Latent Factor Methods

Latent Factor는 숨겨진 요인을 의미하고,
사용자 x 상품의 선호도를 이 숨겨진 요인으로 분해하고, 그 유사도에 따라 추천한다.
그렇다면 숨겨진 요인을 '왜 찾는지', '어떻게 찾는지' 의문이 생기게 된다.
숨겨진 요인을 찾는 이유를 이해하면, 찾는 방법에 대해서도 자연히 대답이 되겠다.
**사용자의 영화에 대한 평점이 완성된 형태로 있기 어렵고, 비워진 값이 많기** 때문이다.
비워진 값을 채우기 때문에 요인, 즉 **숨겨진 요인을 추가해서 그 결측 값을 채울 수** 있다.

이 방법으로는:
* 행렬 분해 matrix factorization
* 교대 최소자승법 ALS Alternating Least Squares
latent vectors는 사용자와 상품 벡터가 있는데, 이를 하나씩 고정시키고 문제를 푸는 방식이다. 즉 하나씩 번갈아 학습을 한다.
먼저 상품 벡터를 고정시키고, 사용자 벡터에 대해 오류를 최소화하는 값을 구한다. 다음은 고정시켰던 상품 벡터에 대해 오류를 최소화한다. 이런 방식이 최적화될 때까지 반복한다.

## S.5 Utility Matrix

사용자 m, 상품 n이 있다고 하자. 
m x n 테이블이 만들어 지고, 그 셀에는 사용자의 항목에 대한 의견이 입력된다.

사용자 A는 영화 m2, m4에 대해 1점 4점 평점을 부여하였다.
평점은 5점 만점으로 3점은 보통, 1점은 부정적, 5점은 긍정적이다.

사용자 \ 영화 | m1 | m2 | m3 | m4 | m5
-----|-----|-----|-----|-----|-----
A | - | 1 | - | 4 | -
B | - | 4 | - | 2 | 3
C | - | 1 | - | 4 | 4

문제는 이 테이블에 빈 값이 많을 수 밖에 없다는 것이다. 이를 해결하는 방법은:
* 사용자로 하여금 모든 영화에 평점을 부여하도록 하거나
* 평점을 유추하는 것이다.

## S.6 유사도

### S.6.1 Eculdean distance

데이터 거리의 제곱을 계산한 값의 제곱근으로 구한다.

$\sqrt{\sum\limits_{i=1}^n (x_i - y_i)^2}$

In [14]:
import numpy as np

a=np.array([0,1,0,4,0])
b=np.array([0,4,0,2,3])
c=np.array([0,1,0,4,4])

In [3]:
from math import*
 
def euclideanDistance(x,y):
    return sqrt(sum(pow(a-b,2) for a, b in zip(x, y)))

print euclideanDistance(a,b)

4.69041575982

### S.6.2 Manhatan distance

거리의 절대 값

$\sum\limits_{i=1}^n |x_i - y_i|$

In [30]:
from math import *
 
def manhattanDistance(x,y): 
    return sum(abs(a-b) for a,b in zip(x,y))

print manhattan_distance(a,b)

8

### S.6.3 L-form

$(\sum\limits_{i=1}^n |x_i - y_i|^p)^{\frac{1}{p}}$

p가 1이면 절대값 합계, L1이 되며, Manhatan distance와 같은 값이다.
p가 2이면 제곱합의 루트 L2가 되며, Eculdean distance

numpy norm은 양수 값으로 만들어주는 함수를 말한다.
numpy norm으로 L-form을 계산할 수 있다.

In [15]:
x = np.array([1, 2, 3])
L1=np.linalg.norm(x, 1)
print L1

6.0

In [16]:
L1=np.linalg.norm(a-b, 1)
print L1

8.0

In [17]:
L2=np.sqrt(x[0]^2 + x[1]**2 + x[2]**2)
print L2

3.74165738677

In [18]:
L2=np.linalg.norm(a-b, 2)
print L2

4.69041575982

```norm()``` 함수의 default는 L2라서 생략할 수 있다.

In [9]:
np.linalg.norm(a-b)

4.6904157598234297

### S.6.4 cosine 유사도

$\cos(\theta) = \frac {A \cdot B }{||A|| \cdot ||B||} = \frac {\sum_{i=1}^{n}{A_i B_i}}{{\sqrt {\sum_{i=1}^{n} A_i^{2}}}{\sqrt {\sum_{i=1}^{n} B_{i}^{2}}}}$

In [29]:
from math import *
 
def cosSimilarity(x,y): 
    numerator = sum(a*b for a,b in zip(x,y))
    denominator = sqrt(sum([a*a for a in x])) * sqrt(sum([a*a for a in y]))
    return round(numerator/float(denominator),4)

print cosSimilarity(a,b)

0.5405

In [26]:
cos_sim = np.dot(a, b)/(np.linalg.norm(a)*np.linalg.norm(b))
print cos_sim

0.540452818933

In [56]:
from scipy.spatial.distance import cosine

print(1 - cosine(a, b))

0.540452818933

In [57]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_similarity([a, b, c])

array([[ 1.        ,  0.54045282,  0.71774056],
       [ 0.54045282,  1.        ,  0.77580982],
       [ 0.71774056,  0.77580982,  1.        ]])

* 상관관계

* Jaccard

$\frac{A \cap B}{A \cup B}$

In [33]:
from math import *
 
def jaccardSimilarity(x,y): 
    intersection_cardinality = len(set.intersection(*[set(x), set(y)]))
    union_cardinality = len(set.union(*[set(x), set(y)]))
    return intersection_cardinality/float(union_cardinality)

print jaccardSimilarity(a,b)

0.4

## S.7 영화 평가

MovieLens는 University of Minnesota에서 제공하는 프로젝트, [grouplens](https://grouplens.org/)이다.
영화평가 파일은 zip으로 되어 있다.

Harper, F. M., & Konstan, J. A. (2016). The movielens datasets: History and context. ACM transactions on interactive intelligent systems (tiis), 5(4), 19.

데이터는 4개의 CSV 파일로 구성되었다 ratings, movies, links and tags.
ratings 데이터는 100,836

movielens 사이트의 url에서 데이터를 직접 읽어오자.

In [1]:
import os
import urllib

ml_url = 'http://files.grouplens.org/datasets/movielens/ml-latest.zip'
ml_small_url = 'http://files.grouplens.org/datasets/movielens/ml-latest-small.zip'

```urllib.urlretrieve()``` 함수로 url에서 직접 읽어 주어진 파일명으로 저장한다. ```ml-latest.zip```와 ```ml-latest-small.zip``` 두 개의 파일이 있다.

In [2]:
ml_fname=os.path.join(os.getcwd(),'data','ml-latest.zip')
if(not os.path.exists(ml_fname)):
    print "%s data does not exist! retrieving.." % ml_fname
    ml_f=urllib.urlretrieve(ml_url,ml_fname)

In [3]:
ml_small_fname=os.path.join(os.getcwd(),'data','ml-latest-small.zip')
if(not os.path.exists(ml_small_fname)):
    print "%s data does not exist! retrieving.." % ml_small_fname
    ml_small_f=urllib.urlretrieve(ml_small_url,ml_small_fname)

```extractall()``` 함수는 ```data``` 디렉토리에 zip을 풀어서 저장한다.

In [ ]:
import zipfile

zipfiles=[ml_fname,ml_small_fname]
for f in zipfiles:
    zip = zipfile.ZipFile(f)
    zip.extractall('data')

압축한 파일을 살펴 보자. 각 파일의 내용을 ```head```로 읽어보자.

In [4]:
!ls data/ml-latest-small/

links.csv  movies.csv  ratings.csv  README.txt	tags.csv

In [5]:
!head data/ml-latest-small/links.csv

In [6]:
!head data/ml-latest-small/movies.csv

In [7]:
!head data/ml-latest-small/ratings.csv

In [8]:
!head data/ml-latest-small/tags.csv

### Panda로 데이터 읽기

In [1]:
import pandas as pd
import os

ratings = pd.read_csv(os.path.join(os.getcwd(),'data','ml-latest-small','ratings.csv'))
movies = pd.read_csv(os.path.join(os.getcwd(),'data','ml-latest-small','movies.csv'))

In [2]:
ratings.head(3)

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246

In [3]:
movies.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

column header 값을 알아보자.

In [4]:
ratings.columns.values

array(['userId', 'movieId', 'rating', 'timestamp'], dtype=object)

In [5]:
movies.columns.values

array(['movieId', 'title', 'genres'], dtype=object)

### 영화 검색

#### 열 읽기
Dataframe은 행 row, 열 column으로 구성된 데이터 저장소이다.
영화는 컬럼명 'title'로 제목을 검색하고, 행은 그 순서를 선택할 수 있다.

In [6]:
movies['title'][0]

'Toy Story (1995)'

```.contains()``` 함수는 **정규표현식**을 사용해서 문자열이 포함되었는지 확인한다.
**```\d```**는 숫자를 의미하는 메타문자이다.
따라서 Toy Story 속편 2, 3이 검색된다.

In [7]:
movies[movies['title'].str.contains("Toy Story")==True]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2496,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy
8599,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX

In [8]:
movies[movies['title'].str.contains("Toy Story.\d.*")]

,movieId,title,genres
2496,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy
8599,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX

#### 행으로 데이터 읽기

행 데이터는 인덱스로 검색할 수 있다. 두 명령어 **```loc```**, **```iloc```**를 사용할 수 있는데, 서로 비슷해서 조금 혼란스럽다.
우리가 다른 배열에서 사용하는 인덱스와 ```iloc```와 비슷하다.

In [7]:
movies[1:3]

   movieId                    title                      genres
1        2           Jumanji (1995)  Adventure|Children|Fantasy
2        3  Grumpier Old Men (1995)              Comedy|Romance

**```iloc```** 인덱스의 위치로 검색한다. 1은 첫째 행을 의미한다.

In [11]:
movies.iloc[1] # first row

movieId                             2
title                  Jumanji (1995)
genres     Adventure|Children|Fantasy
Name: 1, dtype: object

In [9]:
movies.iloc[[2496,8599]]

,movieId,title,genres
2496,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy
8599,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX

**```loc```**는 인덱스 **레이블**로 검색, 즉 인덱스의 레이블 값을 지칭한다.

In [10]:
movies.loc[[1,3]]

   movieId                     title                      genres
1        2            Jumanji (1995)  Adventure|Children|Fantasy
3        4  Waiting to Exhale (1995)        Comedy|Drama|Romance

In [10]:
movies.loc[[2496,8599]]

,movieId,title,genres
2496,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy
8599,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX

In [11]:
movies.loc[[2496,8599],['title']]

                   title
2496  Toy Story 2 (1999)
8599  Toy Story 3 (2010)

### missing values

In [12]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [13]:
nUsers=ratings.userId.unique().shape[0]
nItems=ratings.movieId.unique().shape[0]

print nUsers, nItems

668 10325

### ratings와 movies 데이터 합치기

```merge()```는 공통 속성 ```on```을 기준으로 두 dataframe을 병합한다.
```how```는 ```left, right, inner, outer``` 4가지 방법으로 병합할 수 있다.
* ```left```: 왼쪽 dataframe의 모든 행을 보존
* ```right```: 오른쪽 dataframe의 모든 행을 보존
* ```inner```: 기본 ```default``` 왼쪽 오른쪽 dataframe의 공통 값으로만 병합
* ```outer```: 왼쪽 오른쪽 dataframe의........ 행의 일치하는 값이 없는 경우 NaN

In [14]:
ratingsTitle=ratings.merge(movies,on='movieId', how='left')
ratingsTitle.head(10)

,userId,movieId,rating,timestamp,title,genres
0,1,16,4.0,1217897793,Casino (1995),Crime|Drama
1,1,24,1.5,1217895807,Powder (1995),Drama|Sci-Fi
2,1,32,4.0,1217896246,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
3,1,47,4.0,1217896556,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,4.0,1217896523,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
5,1,110,4.0,1217896150,Braveheart (1995),Action|Drama|War
6,1,150,3.0,1217895940,Apollo 13 (1995),Adventure|Drama|IMAX
7,1,161,4.0,1217897864,Crimson Tide (1995),Drama|Thriller|War
8,1,165,3.0,1217897135,Die Hard: With a Vengeance (1995),Action|Crime|Thriller
9,1,204,0.5,1217895786,Under Siege 2: Dark Territory (1995),Action

## S.8 인지도 기반 추천

영화 가운데 평점이 가장 높은 
groupby('movieId')는 영화ID를 그룹으로 해서
mean() 평균을 구하고
sort() 평점이 높은 순서대로 정렬

In [30]:
pd.DataFrame(ratingsTitle.groupby('title')['rating'].mean()).sort('rating', ascending=False).head(10)

                                                    rating
title
Saddest Music in the World, The (2003)                   5
Interstate 60 (2002)                                     5
Gunfighter, The (1950)                                   5
Heima (2007)                                             5
Limelight (1952)                                         5
Plague Dogs, The (1982)                                  5
Love Me If You Dare (Jeux d'enfants) (2003)              5
Syrup (2013)                                             5
Interstella 5555: The 5tory of the 5ecret 5tar ...       5
Symbol (Shinboru) (2009)                                 5

### Utility matrix

#### 사용자, 상품별 평점 계산하기

In [24]:
import numpy as np
nuser_item = np.zeros((nUsers, nItems))

**```iterrows()```** 함수는 Pandas의 ```Series``` 객체를 반환하기 때문에, 데이터프레임의 컬럼명으로 값을 조회할 수 있다.
**```itertuples()```** 함수는 인덱스 순서대로 데이터를 조회하게 된다.

In [25]:
i=0;
for index,e in ratings.head().iterrows():
    print "index: ",e['userId'],e['movieId'],e['rating'],e['timestamp']

index:  1.0 16.0 4.0 1217897793.0
index:  1.0 24.0 1.5 1217895807.0
index:  1.0 32.0 4.0 1217896246.0
index:  1.0 47.0 4.0 1217896556.0
index:  1.0 50.0 4.0 1217896523.0

In [26]:
i=0;
for e in ratings.head().itertuples():
    print e[0],e[1],e[2],e[3],e[4]

0 1 16 4.0 1217897793
1 1 24 1.5 1217895807
2 1 32 4.0 1217896246
3 1 47 4.0 1217896556
4 1 50 4.0 1217896523

In [ ]:
i=0;
for index,e in ratings.head().iterrows():
    print "index: ",e['userId'],e['movieId'],e['rating'],e['timestamp']
    nuser_item[e['userId']-1,e['movieId']-1]=e['rating']

In [28]:
nuser_item

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

#### 사용자, 영화 id의 최대 값으로 구성한 utility matrix

numpy array을 가능한 최대의 값으로 shape을 정해서 갯수를 정한다. 따라서 비어있는 값이

In [15]:
import numpy as np
utilityMax = np.ndarray(shape=(np.max(ratings.movieId.values), np.max(ratings.userId.values)),dtype=np.uint8)

In [16]:
utilityMax.shape, type(utilityMax)

((149532, 668), numpy.ndarray)

In [17]:
utilityMax[ratings.movieId.values-1, ratings.userId.values-1] = ratings.rating.values

#### 사용자, 영화의 존재하지 않는 id를 제외한 utility matrix

피벗테이블 ```pivot table```은 데이터를 그룹별로 구분하여 각 그룹의 갯수, 합계, 평균 등을 분석하는 방법이다.
영화의 사용자별, 영화별로 평점을 계산해 보자.
**```pivot_table()```**은 셀에 **복수**의 값이 허용되고 (```pivot()```은 복수의 값이 허용되지 않는다), 그런 경우 ```numpy.mean()``` 평균 값을 **기본 default**로 채택한다.

* index는 행
* columns는 열
* values는 셀에 입력되는 값

In [23]:
_utility = ratings.pivot(index = 'userId', columns ='movieId', values = 'rating').fillna(0)
_utility.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,144482,144656,144976,146344,146656,146684,146878,148238,148626,149532
userId,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5,0,2,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,3,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
utility=ratingsTitle.pivot_table(index='userId',columns='title',values='rating')

In [22]:
utility.head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 (1979),...,[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),a/k/a Tommy Chong (2005),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

```fillna(0)``` 함수는 비어 있는 ```NaN```을 ```0```으로 채워준다.

In [20]:
utility.fillna(0).head(3)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 (1979),...,[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),a/k/a Tommy Chong (2005),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
utility['Toy Story (1995)'].head()

userId
1   NaN
2     5
3   NaN
4   NaN
5     4
Name: Toy Story (1995), dtype: float64

'Toy Story (1995)'와 상관관계를 계산해 보자.

In [23]:
utility.corrwith(utility['Toy Story (1995)']).head()

title
'71 (2014)                                      NaN
'Hellboy': The Seeds of Creation (2004)         NaN
'Round Midnight (1986)                          NaN
'Til There Was You (1997)                       NaN
'burbs, The (1989)                         0.470402
dtype: float64

In [24]:
corrToyStory = pd.DataFrame(utility.corrwith(utility['Toy Story (1995)']), columns=['corr'])
corrToyStory.dropna(inplace=True)
corrToyStory.head()

                                    corr
title
'burbs, The (1989)              0.470402
(500) Days of Summer (2009)     0.301871
*batteries not included (1987) -0.058926
...And Justice for All (1979)  -0.046829
10 (1979)                       0.000000

In [25]:
corrToyStory.sort('corr', ascending=False).head()

                                            corr
title
Two Mules for Sister Sara (1970)               1
Raven, The (1963)                              1
Alice (2009)                                   1
Assassination of Richard Nixon, The (2004)     1
Unvanquished, The (Aparajito) (1957)           1

In [26]:
pd.DataFrame(ratingsTitle.groupby('title')['rating'].count()).head(10)

                                         rating
title
'71 (2014)                                    1
'Hellboy': The Seeds of Creation (2004)       1
'Round Midnight (1986)                        1
'Til There Was You (1997)                     3
'burbs, The (1989)                           20
'night Mother (1986)                          1
(500) Days of Summer (2009)                  37
*batteries not included (1987)               11
...And Justice for All (1979)                10
10 (1979)                                     3

In [27]:
corr_rcountToyStory=corrToyStory.join(pd.DataFrame(ratingsTitle.groupby('title')['rating'].count()))

column 명을 변경한다.

In [29]:
corr_rcountToyStory.columns=['corr','ratingsCount']

In [40]:
corr_rcountToyStory.head(10)

                                                        corr  ratingsCount
title
'burbs, The (1989)                                  0.470402            20
(500) Days of Summer (2009)                         0.301871            37
*batteries not included (1987)                     -0.058926            11
...And Justice for All (1979)                      -0.046829            10
10 (1979)                                           0.000000             3
10 Things I Hate About You (1999)                   0.349920            59
10,000 BC (2008)                                    0.155556            11
101 Dalmatians (1996)                               0.161703            42
101 Dalmatians (One Hundred and One Dalmatians)...  0.439606            37
102 Dalmatians (2000)                              -0.519589             7

In [41]:
corr_rcountToyStory.sort('ratingsCount', ascending=False).head(10)

                                               corr  ratingsCount
title
Pulp Fiction (1994)                        0.154139           325
Forrest Gump (1994)                        0.092166           311
Shawshank Redemption, The (1994)           0.118852           308
Jurassic Park (1993)                       0.417862           294
Silence of the Lambs, The (1991)           0.071004           290
Star Wars: Episode IV - A New Hope (1977)  0.148712           273
Matrix, The (1999)                         0.254059           261
Terminator 2: Judgment Day (1991)          0.257904           253
Schindler's List (1993)                    0.313121           248
Braveheart (1995)                          0.183313           248

#### filtering

```[corr_rcountToyStory ['ratingsCount']>50]```는 컬럼명에 대한 조건을 넣어 데이터를 필터링을 할 수 있다.

In [47]:
corr_rcountToyStory[corr_rcountToyStory ['ratingsCount']>50].sort('corr', ascending=False).head()

                                            corr  ratingsCount
title
Toy Story (1995)                        1.000000           232
Wallace & Gromit: A Close Shave (1995)  0.725063            55
Toy Story 2 (1999)                      0.709677           104
Client, The (1994)                      0.695989            65
Others, The (2001)                      0.681520            53

## S.9 matrix factorization

사용자 또는 제품 간에 가까운 유사도를 찾고 이런 이웃이 선택했거나 좋아했던 아이템을 추천하는 Neighborhood Methods을 보았다.

또 다른 방식으로, Utility Matrix의 빈 값을 채워서 추천으로 사용할 수 있다.
MF는 vector에 존재하는 빈 값을 해결하기 위해 제시된 해법으로 Netflix Prize Challenge 이후로 많이 쓰이고 있다.
(Koren, Y., Bell, R., & Volinsky, C., 2009, "Matrix factorization techniques for recommender systems," Computer, 8, 30-37.)

매트릭스를 분리해내는 기법으로, 2개 또는 그 이상으로 분리해내고, 이들을 곱하면 원래의 매트릭스가 산출되도록 한다.
즉
* **original matrix**를 **u**, **i**로 분리하고
* 분리된 속성 **u** x **i**를 곱하여 원래의 **original matrix**를 산출할 수 있다.

예를 들어, 사용자 U1부터 U5, 상품 D1부터 D4가 있고, 사용자의 상품에 대한 평가점수가 있다고 하자.
그렇다면 다음 표가 완성될 수 있다.
이 표에 비어있는 평가점수를 채워 넣어야 한다.
비슷한 사용자끼리 서로 비슷한 점수를 넣는다고 가정하고
숨겨진 latent features를 유추하고 나면, 이를 통해서 빈 값을 채워넣을 수 있다.

```python
	D1	D2	D3	D4
U1	5	3	-	1
U2	4	-	-	1
U3	1	1	-	5
U4	1	-	-	4
U5	-	1	5	4
```

MF는 뭔가 **숨겨진 평가항목 latent features**이 있어서 사용자의 평가점수를 결정한다고 가정한다.
예를 들어, 두 사용자가 어떤 영화를 다 같이 좋아한다고 하자.
그 영화가 액션영화라고 하면 **장르가 숨겨진 속성**이 되고
이러한 latent features를 발견할 수 있다면, 사용자의 상품에 대한 평가점수를, 즉 원래의 평가점수를 알아낼 수 있다.

### 알고리즘

학습율 alpha
regularization $\lambda$
latent features K
http://www.albertauyeung.com/post/python-matrix-factorization/

* p는 User Vector로 사용자users 와 특징features의 벡터
* q는 Item Vector이고 상품 item 특징 features의 벡터

rating을 p와 q의 연산으로 
**예측** 값 $\hat{r}$은 다음과 같이 계산된다.

행 i, 열 j의 rating $\hat{r}_{ij}$는 사용자, 상품의 곱으로 예측할 수 있다.
k는 latent features의 갯수를 말한다.

$\hat{r}_{ij} = \sum_{k=1}^K p_{ik} q_{kj}$

### 오류

오류는 RMSE Root Mean Square Error로 다음과 같이 계산된다.

$e_{ij} = r_{ij} - \hat{r_{ij}} = r_{ij} - \sum_{k=1}^K p_{ik} q_{kj}$

이 오류를 최소화하는 p, q를 찾기 위해서는 **경사도하강법 Gradient Descent** 알고리즘을 적용한다.

$e_{ij}=(r_{ij} - \sum_{k=1}^K p_{ik} q_{kj})^2 + \frac{1}{2}\beta \sum_{k=1}^K (||p||^2 + ||q||^2)$

$\frac{\partial e}{\partial{p_j}} = 2 \times (r_{ij} - \sum_{k=1}^K p_{ik} q_{kj}) \times -q_{kj}$

$\frac{\partial e}{\partial{q_j}} = 2 \times (r_{ij} - \sum_{k=1}^K p_{ik} q_{kj}) \times -q_{kj}$

### Update rules

실제 - 예측의 차이는 오류이다. 그 오류에 학습비율을 곱해서 갱신한다.

$p_{new} = p_{old} - \alpha \times 2 \times (r - \sum_{k=1}^K p_{ik} q_{jk}) \times -q = p_{old} + 2 \alpha q (r - \sum_{k=1}^K p_{ik} q_{jk})$

$q_{new} = q_{old} - \alpha \times 2 \times (r - \sum_{k=1}^K p_{ik} q_{jk}) \times -p = q_{old} + 2 \alpha p (r - \sum_{k=1}^K p_{ik} q_{jk})$

### 풀어보기

```python
5 2 4 4 3
3 1 2 4 1
2 3 1 4
2 5 4 3 5
4 4 5 4
```

```dot()``` 계산을 하면:

```python
p   1                           p+1 p+1 p+1 p+1 p+1
1   1     1   1   1   1   1     2   2   2   2   2
1   1     1   1   1   1   1     2   2   2   2   2
1   1                           2   2   2   2   2
1   1                           2   2   2   2   2
```

오류를 계산하면:

$(5-(p+1))^2+(2-(p+1))^2+(4-(p+1))^2+(4-(p+1))^2+(3-(p+1))^2\\
=((4-p)+(1-p)+(3-p)+(3-p)+(2-p))^2$

편미분하면:

$\frac{\partial e}{\partial{p}} = -2 ((4-p)+(1-p)+(3-p)+(3-p)+(2-p)) = -2(13-5p) = -26 + 10p$

이를 0으로 놓으면 p=2.6

앞서 계산한 p=2.6으로 대체하면:

```python
2.6 1                           3.6 3.6 3.6 3.6 3.6
1   1     1   1   1   1   1     2   2   2   2   2
1   1     1   1   1   1   1     2   2   2   2   2
1   1                           2   2   2   2   2
1   1                           2   2   2   2   2
```

```dot()``` 계산을 하면:

```python
2.6 1                           2.6q+1 3.6 3.6 3.6 3.6
1   1     q   1   1   1   1     q+1    2   2   2   2
1   1     1   1   1   1   1     q+1    2   2   2   2
1   1                           q+1    2   2   2   2
1   1                           q+1    2   2   2   2
```

$(5-(2.6q+1))^2+(3-(q+1))^2+(2-(q+1))^2+(2-(q+1))^2+(4-(q+1))^2\\
=((4-2.6q)+(2-q)+(1-q)+(1-q)+(3-q))^2$

$\frac{\partial e}{\partial{p}} = -2 (2.6(4-2.6q)+(2-q)+(1-q)+(1-q)+(3-q)) = -2(17.4-10.76p) = -34.8 + 21.52p$
이를 0으로 놓으면 q=1.6171

앞서 계산한 q=1.6171으로 대체하면:

```python
2.6 1                           5.204  3.6 3.6 3.6 3.6
1   1     1.617 1   1   1   1   2.617  2   2   2   2
1   1     1     1   1   1   1   2.617  2   2   2   2
1   1                           2.617  2   2   2   2
1   1                           2.617  2   2   2   2
```

### 데이터

In [1]:
import numpy as np
R = np.array([
     [5,3,0,1],
     [4,0,0,1],
     [1,1,0,5],
     [1,0,0,4],
     [0,1,5,4],
    ])

In [2]:
row=R.shape[0]
col=R.shape[1]
row,col

(5, 4)

In [3]:
K = 2
alpha=0.0002
beta=0.02

### P, Q

P,Q는 무작위 숫자로 채워넣는다.

P = np.random.normal(scale=1./K, size=(row, K))
Q = np.random.normal(scale=1./K, size=(col, K))

In [4]:
P = np.random.rand(row,K)
Q = np.random.rand(col,K)

In [5]:
print P, Q

[[ 0.25212011  0.57644393]
 [ 0.72812487  0.61569378]
 [ 0.16025546  0.13956114]
 [ 0.1869733   0.10502015]
 [ 0.45877939  0.01944509]] [[ 0.29406036  0.70754676]
 [ 0.0912193   0.71597879]
 [ 0.93299184  0.20255461]
 [ 0.78658996  0.84440043]]

In [6]:
P[0,:]

array([ 0.25212011,  0.57644393])

In [7]:
Q.T[:,0]

array([ 0.29406036,  0.70754676])

In [8]:
P[0,:].shape, Q.T[:,0].shape

((2,), (2,))

### 예측

rating의 예측 값은 5x4 행렬이어야 한다. P(5x2)와 Q.T(2x4)로 연산을 해야 5x4 행렬이 만들어진다.
우선 **```0,0```**의 예측 값을 계산해 보자. 첫 반복이라 실제 값과 큰 차이가 있고, 반복을 하면서 근사 값으로 갱신되게 된다.

In [9]:
print R[0,0]

5

In [10]:
rhat=np.dot(P[0,:],Q.T[:,0])
print rhat

0.481999565208

## 오류

오류는 실제와 예측의 차이이다.

In [11]:
eij=R[0,0]-rhat
print eij

4.51800043479

## gradient


### P gradient

$\frac{\partial e}{\partial{p_j}} = 2 \times (r_{ij} - \sum_{k=1}^K p_{ik} q_{kj}) \times -q_{kj}$

5x4 4x2 => 5x2

In [12]:
np.dot(eij,Q[0][0])

1.3285648118302464

In [13]:
beta*P[0][0]

0.005042402283838932

In [14]:
for k in xrange(K):
    pGradient=2*np.dot(eij,Q[k][0]) - beta*P[0][k]
    print pGradient,

2.65208722138 0.812728759185

### Q gradient

5x4, 5x2 -> 4x2

In [15]:
np.dot(eij.T,P[0][0])

1.1390787855389446

In [16]:
beta*Q[0][0]

0.0058812071003773725

In [17]:
for k in xrange(K):
    qGradient=2*np.dot(eij,P[0][k]) - beta*Q[k][0]
    print qGradient,

2.27227636398 5.20692348493

### update

In [18]:
for k in xrange(K):
    pGradient=2*np.dot(eij,Q.T[k][0]) - beta*P[0][k]
    P[0][k]+=alpha*pGradient
    print P[0][k]

0.252650531636
0.577720304851

In [19]:
print P

[[ 0.25265053  0.5777203 ]
 [ 0.72812487  0.61569378]
 [ 0.16025546  0.13956114]
 [ 0.1869733   0.10502015]
 [ 0.45877939  0.01944509]]

In [20]:
for k in xrange(K):
    qGradient=2*np.dot(eij,P[0][k]) - beta*Q.T[k][0]
    Q.T[k][0]+=alpha*qGradient
    print Q[k][0],

0.294515768862 0.091219295983

In [21]:
print Q

[[ 0.29451577  0.70858798]
 [ 0.0912193   0.71597879]
 [ 0.93299184  0.20255461]
 [ 0.78658996  0.84440043]]

In [22]:
iters=1000
for iter in range(iters):
    for i in xrange(row):
        for j in xrange(col):
            if R[i][j] > 0:
                rhat=np.dot(P[i,:],Q.T[:,j])
                eij = R[i][j] - rhat
                for k in xrange(K):
                    #pGradient=2*np.dot(eij,Q.T[k][j]) - beta*P[i][k]
                    pGradient=2*np.dot(eij,Q.T[k][j])
                    #qGradient=2*np.dot(eij,P[i][k]) - beta*Q.T[k][j]
                    qGradient=2*np.dot(eij,P[i][k])
                    P[i][k]+=alpha*pGradient
                    Q.T[k][j]+=alpha*qGradient

In [23]:
print P,Q

[[ 0.22398596  1.88927438]
 [ 0.51281666  1.21609441]
 [ 1.42841165  0.66332048]
 [ 1.18538922  0.58354549]
 [ 1.99887352  0.65517789]] [[ 0.61021678  2.10693651]
 [ 0.18593322  1.30942194]
 [ 2.03122635  0.58578186]
 [ 1.98398818  0.88459688]]


```python
    D1	D2	D3	D4
U1	4.97	2.98	2.18	0.98
U2	3.97	2.40	1.97	0.99
U3	1.02	0.93	5.32	4.93
U4	1.00	0.85	4.59	3.93
U5	1.36	1.07	4.89	4.12
```

In [24]:
print np.dot(P,Q.T)

[[ 4.11726116  2.51550376  1.56166885  2.11563173]
 [ 2.87516305  1.68773036  1.75401276  2.09317552]
 [ 2.26921489  1.13415557  3.2899885   3.42072307]
 [ 1.95283769  0.98451051  2.74962419  2.86800074]
 [ 2.60016438  1.2295613   4.4439559   4.54530977]]

## 문제 S-5: ALS 알고리즘으로 영화 추천

### 문제

함께 영화를 보러 간다고 하자.
어떤 영화를 볼까? 묻지 않고 영화를 고르면 좋아할까?
그렇다면 어떤 영화를 좋아하는지 직접 묻지 않고 어떻게 알 수 있을까?
영화에 대한 선호도를 모른다 하더라도, 추정할 수 있는 방법이 있다.
추천 알고리즘인 Matrix Factorization을 푸는 방식으로 ALS Alternating Least Squares를 추천해 보자.

참조: [spark recommendation](https://www.codementor.io/spark/tutorial/building-a-recommender-with-apache-spark-python-example-app-part1)

* 주 13 - spark 추천 영화 음악? 
    * amazon similarity lookup http://blogs.gartner.com/martin-kihn/how-to-build-a-recommender-system-in-python/
    * https://www.codementor.io/spark/tutorial/building-a-web-service-with-apache-spark-flask-example-app-part2
    * https://github.com/grahamjenson/list_of_recommender_systems
        * content-based filtering
        * collaborative filtering

## IPython Notebook에서 SparkSession 생성하기

Jupyter Notebook에서 Spark를 사용하려면 몇 가지 설정이 필요하다.
Spark 실행에 필요한 라이브러리를 경로에서 찾을 수 있게 설정해야 한다.
아래와 같이 ```sys.path.insert()``` 함수를 사용하면 라이브러리를 Python 경로에 추가할 수 있다.

In [1]:
import os
import sys 
os.environ["SPARK_HOME"]=os.path.join(os.environ['HOME'],'Downloads','spark-2.0.0-bin-hadoop2.7')
os.environ["PYLIB"]=os.path.join(os.environ["SPARK_HOME"],'python','lib')
sys.path.insert(0,os.path.join(os.environ["PYLIB"],'py4j-0.10.1-src.zip'))
sys.path.insert(0,os.path.join(os.environ["PYLIB"],'pyspark.zip'))

In [4]:
import pyspark
myConf=pyspark.SparkConf()
spark = pyspark.sql.SparkSession.builder\
    .master("local")\
    .appName("myApp")\
    .config(conf=myConf)\
    .getOrCreate()

## 데이터

사용자의 영화에 대한 평가가 저장되어 있는 ```ratings```, 영화정보를 가지고 있는 ```movies``` 파일을 읽어서, RDD를 생성한다.

### ratings

```ratings```는 사용자, 영화, 평점, 시간 정보를 가지고 있는데, 이 파일을 읽어보자.

In [14]:
import os
small_ratings = os.path.join('data', 'ml-latest-small', 'ratings.csv')

RDD는 sparkContext의 ```textFile(파일)``` 함수로부터 생성한다.
보통 파일은 헤더와 내용으로 구성된다. 첫 줄을 읽어서, 데이터 헤더를 확인하자.

In [34]:
small_ratings_rdd = spark.sparkContext.textFile(small_ratings)

In [35]:
print small_ratings_rdd.take(1)

[u'userId,movieId,rating,timestamp']

In [36]:
small_ratings_rdd_header = small_ratings_rdd.take(1)

In [37]:
print small_ratings_rdd_header[0]

userId,movieId,rating,timestamp

파일의 첫째 줄이 header이므로 이를 ```filter()```한다.
데이터는 4개의 컬럼으로 구성된다. 이를 컴마로 분리하고 처음 3개만 RDD로 만든다.


```python
userId,movieId,rating,timestamp
1,16,4.0,1217897793
1,24,1.5,1217895807
1,32,4.0,1217896246
...
```

아래 ```cache()``` 함수는 필요한 경우에 사용한다.
RDD는 lazy 연산을 한다. ```collect()```, ```count()``` 등과 같은 action 함수와 같이, 실제 데이터로부터 연산이 필요하기 전까지는 lazy 연산을 한다. ```cache()``` 함수는 메모리에 올려놓는다는 의미이다. cache는 연산이 일어나면 메모리에 데이터를 올려놓고, 다음부터 그 cache에 저장된 것을 사용하게 되므로 빠르다.

In [7]:
small_ratings_data = small_ratings_rdd\
    .filter(lambda line: line!=small_ratings_rdd_header)\
    .map(lambda line: line.split(","))\
    .map(lambda tokens: (tokens[0],tokens[1],tokens[2]))\
    .cache()

In [8]:
small_ratings_data.take(3)

[(u'1', u'16', u'4.0'), (u'1', u'24', u'1.5'), (u'1', u'32', u'4.0')]

이를 ```csvRdd()``` 함수로 만들어 ratings, movies 데이터를 만들어 보자.

RDD는 lazy 연산을 한다. ```collect()```, ```count()``` 등과 같은 action 함수와 같이, 실제 데이터로부터 연산이 필요하기 전까지는 lazy 연산을 한다. ```cache()``` 함수는 메모리에 올려놓는다는 의미이다. cache는 연산이 일어나면 메모리에 데이터를 올려놓고, 다음부터 그 cache에 저장된 것을 사용하게 되므로 빠르다.
```cache()```는 필요한 경우에 사용한다.

In [38]:
def csvRdd(csvpath):
    _rdd = spark.sparkContext.textFile(csvpath)
    _rdd_header = _rdd.take(1)[0]
    print "header: %s" % _rdd_header
    rdd = _rdd\
        .filter(lambda line: line!=_rdd_header) \
        .map(lambda line: line.split(",")) \
        .map(lambda tokens: (tokens[0],tokens[1],tokens[2])) \
        .cache()
    return rdd

In [ ]:
#ratingspath = os.path.join(datapath, 'ml-latest-small', 'ratings.csv')
#ratings=csvRdd(ratingspath)
ratings=csvRdd(small_ratings)

In [20]:
ratings.take(3)

header: userId,movieId,rating,timestamp

[(u'1', u'16', u'4.0'), (u'1', u'24', u'1.5'), (u'1', u'32', u'4.0')]

### movies

```movies``` 파일은 영화제목, 장르 정보를 가지고 있다.

In [39]:
moviespath = os.path.join('data', 'ml-latest-small', 'movies.csv')
movies=csvRdd(moviespath)
movies.take(3)

header: movieId,title,genres

[(u'1', u'Toy Story (1995)', u'Adventure|Animation|Children|Comedy|Fantasy'),
 (u'2', u'Jumanji (1995)', u'Adventure|Children|Fantasy'),
 (u'3', u'Grumpier Old Men (1995)', u'Comedy|Romance')]

### train, test

훈련, 테스트 데이터를 분리해 보자. ```randomSplit(weights, seed=None)``` 함수는 weights, seed를 인자로 받는다.
* weights: ```ratings``` 데이터의 분할하는 비율을 설정하고, 정규화해서 합계를 1.0으로 만들어 준다.
* seed: 샘플링하는 숫자

구분 | 비율
-----|-----
train | 6
validation | 2
test | 2

In [22]:
from pyspark.mllib.recommendation import ALS
import math

_train, _validation, _test=ratings.randomSplit([6, 2, 2], seed=0L)

In [23]:
_validation_01 = _validation.map(lambda x: (x[0], x[1]))

In [24]:
_test_01 = _test.map(lambda x: (x[0], x[1]))

### ALS 모델링

ALS는 mllib, ml 패키지 모두 제공되고 있으나, 서로 사용하는 방법이 다르므로 주의가 필요하다.
RDD 기반 API는 Spark 3.0에서는 제외될 예정이다.

```python
#----------------ml package------------------
from pyspark.ml.recommendation import ALS
als = ALS(rank=10, maxIter=20, userCol="user", itemCol="item", ratingCol="rating")
model = als.fit(trainDf)
predictions = model.transform(testDf)

#----------------mllib package----------------
from pyspark.mllib.recommendation import ALS
model = ALS.train(trainRdd, 10, seed=3, iterations=20)
predictions = model.predictAll(testRdd).map(lambda r: (r.user, r.product, r.rating))
```



ALS는 mllib, ml 패키지 모두 제공되고 있으나, 서로 사용하는 방법이 다르므로 주의가 필요하다.
RDD 기반 API는 Spark 3.0에서는 제외될 예정이다.

```python
#----------------ml package------------------
from pyspark.ml.recommendation import ALS
als = ALS(rank=10, maxIter=20, userCol="user", itemCol="item", ratingCol="rating")
model = als.fit(trainDf)
predictions = model.transform(testDf)

#----------------mllib package----------------
from pyspark.mllib.recommendation import ALS
model = ALS.train(trainRdd, 10, seed=3, iterations=20)
predictions = model.predictAll(testRdd).map(lambda r: (r.user, r.product, r.rating))
```

ALS 모델에 필요한 설정이 있다.
* rank는 숨겨진 요인 latent factors의 수
* iterations 반복회수
* lambda는 regularization 계수 (높으면 regularizaton 높음...

In [78]:
seed = 5L
iterations = 10
regularization_parameter = 0.1

errors = [0, 0, 0]
err = 0
tolerance = 0.02

min_error = float('inf')
best_rank = -1
best_iteration = -1

rank=4
# start for
# ranks = [4, 8, 12]
# for rank in ranks:
model = ALS.train(_train,rank,seed=seed,iterations=iterations,lambda_=0.1)

### 예측

#### 전체

```predictAll()``` 함수는 ```ratings``` 평가점수를 예측한다. 즉 사용자의 영화에 대한 평가점수가 없는 경우, 몇 점인지 예측하게 된다.

In [79]:
predictions = model.predictAll(_validation_01)

predictions은 RDD이므로, 예측 결과 값은 아래와 같이 ```take()```, ```collect()``` 함수를 바로 사용하거나, ```map()``` 함수를 사용해서 추출할 수 있다.

In [80]:
type(predictions)

pyspark.rdd.RDD

In [81]:
predictions.take(2)

[Rating(user=475, product=81132, rating=1.208942277934203),
 Rating(user=469, product=667, rating=2.287210521555096)]

In [82]:
predictions.map(lambda r: ((r[0], r[1]), r[2])).take(2)

[((475, 81132), 1.208942277934203), ((469, 667), 2.287210521555096)]

실제와 예측을 나란히 비교해 보자.
먼저 예측을 저장하고, 이를 ```map()``` 함수로 실제 값을 출력하고 ```join()``` 함수로 나란히 출력해 보자.

In [83]:
predictions=predictions.map(lambda r: ((r[0], r[1]), r[2]))

In [84]:
rates_and_preds = _validation\
    .map(lambda r: ((int(r[0]), int(r[1])), float(r[2])))\
    .join(predictions)

In [85]:
rates_and_preds.take(3)

[((627, 30793), (3.5, 3.3273636051642086)),
 ((668, 4030), (1.5, 1.8208563455773858)),
 ((332, 2528), (4.0, 4.088212813873781))]

In [88]:
model.userFeatures()

PythonRDD[1214] at RDD at PythonRDD.scala:48

#### 사용자별 예측

userId, moveId를 넣으면, 평가점수를 예측할 수 있다.
예를 들어, 1번 사용자, 24번 영화에 대한 rating은 약 2.04이다.

In [70]:
model.predict(1,24)

2.477817297611674

* 1번 사용자, 상위 10개 상품 추천

In [92]:
top10for1 = model.recommendProducts(1,10)

In [93]:
type(top10for1)

list

In [94]:
top10for1

[Rating(user=1, product=5147, rating=5.417326172972089),
 Rating(user=1, product=3272, rating=5.272865359188067),
 Rating(user=1, product=103980, rating=5.221125234610412),
 Rating(user=1, product=90603, rating=5.199192419824584),
 Rating(user=1, product=6583, rating=5.131635645196752),
 Rating(user=1, product=105844, rating=5.127320038146992),
 Rating(user=1, product=714, rating=5.094333621153465),
 Rating(user=1, product=917, rating=5.076105430608997),
 Rating(user=1, product=59810, rating=5.037403608152832),
 Rating(user=1, product=104177, rating=5.037403608152832)]

In [96]:
top10for1[2][1]

103980

In [99]:
movies.lookup

### 오류

MSE Mean Squared Error을 출력해보자.

In [90]:
error = math.sqrt(rates_and_preds
                  .map(lambda r: (r[1][0]-r[1][1])**2)\
                  .mean()
                 )

In [91]:
print error

0.919837162894